apiVersion: gateway.kgateway.dev/v1alpha1
kind: Backend
metadata:
  name: openai-customer-b
  namespace: kgateway-system
  labels:
    app: agentgateway
spec:
  type: AI
  ai:
    llm:
      openai:
        authToken:
          kind: SecretRef
          secretRef:
            name: openai-secret
        model: "gpt-3.5-turbo"
